.season__button {
  border: none;
  outline: none;
  font-size: var(--font-size-base);
  padding: 8px 12px;
  letter-spacing: 1px;
  border-radius: 2px;
  background: var(--color-default);
  color: var(--font-color-base);
  cursor: pointer;
  font-family: var(--font-family);
  position: relative;
  &:before {
    content:"";
    display: block;
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255,255,255,.0);
  }
  &:hover::before {
    background: rgba(255,255,255,.2);
  }
  &:disabled {
    cursor: default;
    background: var(--font-disabled);
    &:hover::before {
      background: rgba(255,255,255,.0);
    }
  }
  &.is-plain {
    color: var(--color-default);
    background: var(--font-size-base);
    border: 1px solid var(--color-default);
    &:disabled {
      cursor: default;
      background: var(--font-size-base);
      color: var(--font-disabled);
      border: 1px solid var(--font-disabled);
    }
  }
  &.is-round {
    border-radius: 100px;
  }
}

.season__button-info {
  background: var(--color-info);
  &.is-plain {
    color: var(--color-info);
    border: 1px solid var(--color-info);
  }
}

.season__button-danger {
  background: var(--color-danger);
  &.is-plain {
    color: var(--color-danger);
    border: 1px solid var(--color-danger);
  }
}

.season__button-warning {
  background: var(--color-warning);
  &.is-plain {
    color: var(--color-warning);
    border: 1px solid var(--color-warning);
  }
}

.season__button-success {
  background: var(--color-success);
  &.is-plain {
    color: var(--color-success);
    border: 1px solid var(--color-success);
  }
}