.se-col-1, .se-col-2, .se-col-3, .se-col-4, .se-col-5, .se-col-6, .se-col-7, .se-col-8, .se-col-9, .se-col-10, .se-col-11, .se-col-12, .se-col-13, .se-col-14, .se-col-15, .se-col-16, .se-col-17, .se-col-18, .se-col-19, .se-col-20, .se-col-21, .se-col-22, .se-col-23, .se-col-24 {
  float: left;
  box-sizing: border-box;
}
.se-col-0 {
  width: 0;
}
@for $i from 0 through 24
{
  .se-col-#{$i}
  {
    width: calc(1 / 24 * #{$i} * 100%)
  }
  .se-col-offset-#{$i}
  {
    margin-left: calc(1 / 24 * #{$i} *  100%)
  }
  .se-col-pull-#{$i}
  {
    position: relative;
    right: calc(1 / 24 * #{$i} *  100%)
  }
  .se-col-push-#{$i}
  {
    position: relative;
    left: calc(1 / 24 * #{$i} *  100%)
  }
}

@media (max-width: 768px) {
  @for $i from 0 through 24
  {
    .se-col-xs-#{$i}
    {
      width: calc(1 / 24 * #{$i} * 100%)
    }
    .se-col-xs-offset-#{$i}
    {
      margin-left: calc(1 / 24 * #{$i} *  100%)
    }
    .se-col-xs-pull-#{$i}
    {
      position: relative;
      right: calc(1 / 24 * #{$i} *  100%)
    }
    .se-col-xs-push-#{$i}
    {
      position: relative;
      left: calc(1 / 24 * #{$i} *  100%)
    }
  }
}
@media (min-width: 768px) {
  @for $i from 0 through 24
  {
    .se-col-sm-#{$i}
    {
      width: calc(1 / 24 * #{$i} * 100%)
    }
    .se-col-sm-offset-#{$i}
    {
      margin-left: calc(1 / 24 * #{$i} *  100%)
    }
    .se-col-sm-pull-#{$i}
    {
      position: relative;
      right: calc(1 / 24 * #{$i} *  100%)
    }
    .se-col-sm-push-#{$i}
    {
      position: relative;
      left: calc(1 / 24 * #{$i} *  100%)
    }
  }
}
@media (min-width: 992px) {
  @for $i from 0 through 24
  {
    .se-col-md-#{$i}
    {
      width: calc(1 / 24 * #{$i} * 100%)
    }
    .se-col-md-offset-#{$i}
    {
      margin-left: calc(1 / 24 * #{$i} *  100%)
    }
    .se-col-md-pull-#{$i}
    {
      position: relative;
      right: calc(1 / 24 * #{$i} *  100%)
    }
    .se-col-md-push-#{$i}
    {
      position: relative;
      left: calc(1 / 24 * #{$i} *  100%)
    }
  }
}
@media (min-width: 1200px) {
  @for $i from 0 through 24
  {
    .se-col-lg-#{$i}
    {
      width: calc(1 / 24 * #{$i} * 100%)
    }
    .se-col-lg-offset-#{$i}
    {
      margin-left: calc(1 / 24 * #{$i} *  100%)
    }
    .se-col-lg-pull-#{$i}
    {
      position: relative;
      right: calc(1 / 24 * #{$i} *  100%)
    }
    .se-col-lg-push-#{$i}
    {
      position: relative;
      left: calc(1 / 24 * #{$i} *  100%)
    }
  }
}